.banner{
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    background-color: salmon;
    padding: 10px;
    position: fixed;
    top: 0;
}

body{
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
}

#home-page{
    max-width: 800px;
    margin: 150px auto;
}

header, footer {
    background-color: rgb(61, 152, 238);
    color: white;
    border-radius: 10px;
    text-align: center;
}

header {
    font-size: 130%;
    padding: 9px;
}

header h1 {
    padding-right: 70px;
}

main {
    padding: 0 15px 30px 15px;
    color: #444;
    font-family: Kumbh Sans, Helvetica, sans-serif;
}

main h3 {
    border-bottom: 1.4px solid darkgray;
    padding-bottom: 10px;
}

.Profile{
    max-width: 20%;
    float: right;
    box-shadow: 0 0 10px black;
    margin-top: -100px;
}

footer {
    padding: 5px;
    margin-bottom: 190px;
}

footer p{
    margin-bottom: 9px;
    font-size: 90%;
}

footer p.highlight {
    color: yellow;
}