body{
    margin: 0 auto;
}

body p, body a{
    font-family: 'Poppins', serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Titillium Web', sans-serif;
}

.preston-page{
    background-color: #FFF;
}

.banner{
    text-align: center;
    background-color: khaki;
    margin: 0;
    padding: 10px;
}

header{
    background: rgb(167,216,254);
    background: linear-gradient(90deg, rgba(167,216,254,1) 1%, rgba(0,137,252,1) 46%, rgba(45,101,251,1) 98%);
    background-size: 100%;
    color: #222;
    display: grid;
    grid-template-columns: .5fr 1fr;
    padding-bottom: 20px;
}

header h1{
    margin: 30px 0 0 20px;
    color: white;
}

header img{
    justify-self: center;
    align-self: center;
    width: 80px;
    height: 80px;
    margin-right: -20%;
}

header p{
    margin-left: 20px;
    max-width: 600px;
    color: white;
    margin-right: 20px;
}


/*       -------------- navigation section ------------------

*/

.navigation{
    list-style: none;
    padding: 0;
    margin: 4px 0;
}

.navigation li:nth-child(4){
    font-weight: 800;
    text-shadow: 0 0 gray;
}

.navigation li:first-child{
    display: block;
    text-align: center;
    padding: 5px;
}

.navigation li{
    display: none; 
}

.navigation a{
   padding: 8px; 
   display: block;
   text-decoration: none;
   color: #333;
}

.navigation a:visited{
    color: #333;
}

.responsive li{
    display: block;
    padding: 8px;
    text-align: center;
    border: 1px solid #3D3D3D;
}

.navigation li:first-child a:hover{
    color: #2F2F25;
    font-weight: 800;
}

.navigation li:hover{
    color: #6F6F65;
    font-weight: 800;
}


main h3{
    margin: 150px auto 15px auto;
    text-align: center;
}

main h2{
    border-top: 1px solid black;
    padding-top: 14px;
    margin-top: 0;
}

#preston-heading{
    padding-left: 20px;
}


/*  -------------------    weather summary   ---------- */

.heroweathersumm{
    width: auto;
    position: relative;
    margin: 0 10px;
}

#weathersumm{
    position: absolute;
    top: 0;
    background-color: rgba(196, 196, 196, 0.58);
    height: 99%;
    width: 100%;
}

#weathersumm p{
    padding-left: 60%;
    color: white;
    font-size: 2.8vw;
    line-height: 70%;
    text-shadow: 1px 1px 3px gray;
}

#weathersumm p:first-child{
    padding-top: 5%;
}

#hero-img{
    width: 100%;
}


/*    --------------------    5 day forecast     ------------------ */
#fivedaylayout{
    display: block;
    text-align: center;
    justify-content: center;
}

.detailgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    margin: 19px auto 0 auto;    
}


.day{
    border: 1px solid black;
    margin: 10px 5px;
    padding-bottom: 10px;
    border-radius: 11px;
}


.day img{
    width: 80px;
}

.day p:first-child{
    font-weight: 800;
}

#events{
    position: absolute;
    top: 350px;
    left: 25px;
    z-index: 3;
    min-width: 310px;
    max-width: 320px;
    margin: 30px auto;
    border: 1px solid #333;
    padding: 20px;
    box-shadow: 0 0 14px #000;
    border-radius: 10px;
    background-color: #f5f5f5;
}

#article{
    height: max-content;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
    width: 90%;
    margin: 80px auto 0 auto;
    padding-bottom: 20px;
}

#article img{
    width: 26vw;
    box-shadow: 0px 0px 3px #3D3D3D;
}

/*        footer section
*/

#footer {
    grid-column: 1 / -1;
    padding: 5px;
    text-align: center;
}

#footer p{
    margin-bottom: 9px;
    font-size: 90%;
    text-align: center;
}

.legal{
    padding-top: 30px;
}

#footer p.highlight {
    color: maroon;
}


#contact{
    background-color: #EDEDED;
    padding: 19px;
}

#footer{
    background-color: #EDEDED;
}

#map{
    height: 200px;
    width: 300px;
    border: 1px solid black;
}

@media only screen and (min-width: 690px){
    
    main h2{
        border: 0;
    }

    .navigation {
        display: flex;
        
    }

    .navigation li{
        display: block;
        flex: 1 1 auto;
    }
    
    .menubutton{
        display: none!important;
    }

    #weather-current{
        padding: 0;
    }

    #fivedaylayout{
        display: flex;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    .detailgrid{
        width: auto;
        height: max-content;
    }

    .detailgrid p{
        margin-top: 0px;
        line-height: 0;
    }

    .day{
        width: 20%;
        align-self: stretch;
        padding: 9px;
    }

    #contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px auto;
    }

    #map{
        grid-column: 2;
        grid-row: 1 / -1;
    }

    iframe{
        grid-column: 2;
        grid-row: 1 / -1;
        width: 300px;
        height: 200px;
    }

    #article{
        width: 80%;
        padding: 20px;
    }

    #article img{
        width: 20vw;
        float: right;
        margin: 1rem;
    }
} 


@media only screen and (min-width: 100px) and (max-width: 689px){
    .day{
        width: 80%;
        margin: 10px auto;
    }

    #events{
        position: initial;
        bottom: 40px;
        width: 75%;
        min-width: 0;
    }

    #article img{
        width: 98%;
    }

    #contact{
        text-align: center;
    }

    #map{
        margin: 0 auto;
    }

    iframe{
        width: 100%;
        height: 200px;
    }
}

@media only screen and (max-width: 449px){
    #map{
        width: 90%;
        max-width: 300px;
    }

    #article{
        width: 80%;
    }

    #article img{
        float: none;
    }

    #weathersumm p{
        margin: 10px 0px;
        padding: 10px 10%;
        color: white;
        font-size: 5.3vw;
        line-height: 70%;
        text-shadow: 1px 1px 3px gray;
    }

    #paragraphs{
        width: 70%;
        margin: 20% auto;
    }

}

