body{
    margin: 0 auto;
    background-color: #DDD;
}

.page{
    background-color: #FFF;
}

header{
    background-color: #4eb9f7;
    color: #222;
    display: flex;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

header h1{
    margin-left: 20px;
}
.navigation{
    list-style: none;

}

.navigation li:first-child{
    display: block;
}

.navigation li{
    display: none; 
}

.navigation a{
    padding: 8px;
    
}

.responsive li{
    display: block;
}

header img{
    max-width: 80px;
}

main div{
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    background-color: lightgray;
}