body{
    margin: 0 auto;
    width: 100%;
}

body p, body a, button{
    font-family: 'Padauk', serif;
}

h1, h2, h3{
    font-family: 'Ubuntu', sans-serif;
}

header h1, header h2, header h3{
    color: white;
    font-weight: 200;
    margin: 19vw auto;
    text-shadow: 0 0 6px black;
    width: max-content;
}

header{
    height: max-content;
}


#main-img{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: .7;
    margin-top: -6px;
}

#gslogo{
    width: 38%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 15vw;

}

#envelope{
    font-size: 7vw;
    text-align: center;
    height: 8vw;
    width: 9vw;
    color: white;
    padding-top: 1vw;
    position: absolute;
    top: 15px;
    right: 15vw;
    border: 2px solid #c1c1c1;
    border-radius: 70px;
    background-color: #c1c1c1;
    text-decoration: none;
}

#phone{
    font-size: 7vw;
    text-align: center;
    height: 8vw;
    width: 9vw;
    color: white;
    padding-top: 1vw;
    position: absolute;
    top: 15px;
    right: 3vw;
    border: 2px solid #c1c1c1;
    border-radius: 70px;
    background-color: #c1c1c1;
    text-decoration: none;
}

/*     ---------------------   NAVIGATION   ------------------------ 

*/

.responsive{
    background-color: rgb(255, 255, 255);
    opacity: .88;
    z-index: 3;   
}

nav{
    padding: 0px;
}

ul{
    padding: 0;
}

.navigation{
    list-style: none;
    margin: 0;
}

.navigation li:nth-child(2){
    font-weight: 800;
    text-shadow: 0 0 gray;
}

.navigation li:first-child{
    display: block;
    text-align: center;
    padding: 5px;
    width: 48px;
    font-size: 320%;
}

#menubutton{
    color: white;
}

.responsive #menubutton{
    color: #333;
}

.navigation li{
    display: none; 
}

.navigation a{
   padding: 8px; 
   display: block;
   text-decoration: none;
   color: #4d8ae6;
}

.navigation a:visited{
    color: #4d8ae6;
}

.responsive li{
    display: block;
    padding: 8px;
    text-align: center;
}

.navigation li:first-child a:hover{
    color: #2F2F25;
    font-weight: 800;
}

.navigation li:hover{
    color: #6F6F65;
    font-weight: 800;
}

/*---------------------     MAIN   ----------------------*/

#bookbutton{
    color: white;
    font-weight: 400;
    font-size: x-large;
    text-decoration: none;
    border: 1px solid #2bbce0;
    background-color: #2bbce0;
    text-align: center;
    padding: 10px;
    margin: 26vw auto 0 auto;
    display: block;
}

#bookbutton:hover{
    background-color: #2c869c;
    border: 1px solid #2c869c;
}

main h2{
    font-size: 1.5em;
}

#fa{
    text-align: center;
}

#amencontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.amenities img{
    max-width: 50px;
}

.amenities{
    width: auto;
    height: 14px;
    padding: 30px 8px;
    border: 1px solid gray;
    margin: 5px 10px;
    text-align: center;
    font-size: small;
    color: gray;
}

#servicebutton, #servicebutton:visited{
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    color: #222;
    border: 1px solid #facf8f;
    width: 20%;
    margin: 10px auto 40px auto;
    background-color: #facf8f;
    border-radius: 18px;
    
}





/*   ----------------     FOOTER  ------------------------*/

footer {
    padding: 27px;
    text-align: center;
    margin-top: 15%;
    background-color: #DEDEDE;
    }


footer p{
    margin-bottom: 9px;
    font-size: 90%;
    text-align: center;
}

textarea{
    width: 80%;
    font-size: small;
}



@media only screen and (min-width: 500px) and (max-width: 689px){
    
    #gslogo{
        width: 20%;
    }

    section:nth-child(odd){
        flex-direction: row-reverse;
    }

    section img{
        justify-self: center;
        align-self: center;
        margin: 0 auto;
        width: 60%;
        max-width: 220px;
    }

    #envelope{
        font-size: 5vw;
        height: 5vw;
        width: 5.6vw;
        padding-top: .5vw; 
        right: 11vw;
    }

    #phone{
        font-size: 5vw;
        height: 5vw;
        width: 5.6vw;
        padding-top: .5vw; 
    }

    #bookbutton{
        margin-top: 22vw;
    }

    #amencontainer{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .amenities{
        padding: 40px 5px;
    }

}


@media only screen and (min-width: 690px) {
    header h1{
        margin: 20px auto;
    }

    .responsive li{
        border: none;
        padding: 10px 0;
    }

    .responsive li:last-child{
        padding-bottom: 120px;
    }
    
    #gslogo{
        width: 18%;
        top: 6vw;
    }
  
    #envelope{
        font-size: 5vw;
        height: 5vw;
        width: 5.5vw;
        padding-top: .5vw; 
        right: 11vw;
    }

    #phone{
        font-size: 5vw;
        height: 5vw;
        width: 5.5vw;
        padding-top: .5vw; 
    }

    #amencontainer{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .amenities{
        padding: 40px 5px;
    }
} 


@media only screen and (min-width: 690px) and (max-width: 890px) {

#bookbutton{
    margin-top: 12vw;
}
}

@media only screen and (min-width: 891px) {

    #bookbutton{
        margin-top: 17vw;
    }
    }